@font-face {
  font-family: 'Integral CF';
  src:
    url('src/fonts/IntegralCF/IntegralCF-Bold.woff2') format(woff2),
    url('src/fonts/IntegralCF/IntegralCF-Bold.woff') format(woff);
  font-weight: bold;
  font-style: normal;
}
